@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

// Links
.link-route {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  background-color: transparent;  
  transition: all 0.3s ease;
  color: #007bff;
  border: 1px solid #007bff;
  
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}
